@{
	ViewBag.Title = "Exemplo Angular 1.X";
}

<div class="jumbotron">
	<h1>Exemplos Angular 1.X</h1>
	<p class="lead">No inicio era tudo mato...</p>
</div>

<div class="row">
	<ul>
		<li>@Html.ActionLink("Com jQuery", "NoInicio", "Exemplos")</li>
		<li>@Html.ActionLink("Com Angular - Exemplo 1", "Exemplo1", "Exemplos")</li>
		<li>@Html.ActionLink("Exemplo 2", "Exemplo2", "Exemplos")</li>
		<li>@Html.ActionLink("Exemplo 3", "Exemplo3", "Exemplos")</li>
		<li>@Html.ActionLink("Exemplo 4", "Exemplo4", "Exemplos")</li>
		<li>@Html.ActionLink("Exemplo 5", "Exemplo5", "Exemplos")</li>
		<li>@Html.ActionLink("Exemplo 6", "Exemplo6", "Exemplos")</li>
		<li>@Html.ActionLink("Exemplo 7", "Exemplo7", "Exemplos")</li>
		<li>@Html.ActionLink("Exemplo 8", "Exemplo8", "Exemplos")</li>
	</ul>
</div>